@import '~config/index.module.scss';

.section {
  margin-left: 15em;
  margin-top: 5em;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h4 {
    font-size: 8em;
    margin-bottom: 0.8em;
  }

  p {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  .workingAt {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top: auto;

    margin-right: 5em;
    margin-bottom: 2.5em;

    p {
      font-size: 2em;
    }

    img {
      margin-left: 1em;
      width: 2.5em;
    }
  }
}
