@import '~config/index.module.scss';

.footer {
  position: relative;
  bottom: 0;
  z-index: 100;

  background-color: $black;

  padding: 2em 0;
  text-align: center;

  a {
    position: relative;
    font-size: 1.8em;
    font-weight: 200;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 0.5px;
      background-color: $primary;
      bottom: 0;
      transition: width 0.3s;
    }
    &:hover {
      font-weight: 300;

      &::before {
        width: 100%;
      }
    }
  }
}
