@import '~config/index.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5em 15em;

  .textContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 1.5em;

    h5,
    h6 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 4.5em;
    }
  }

  img {
    margin-bottom: 1.5em;
  }
}
