// Responsive
$mobileBreakpoint: 767px;
$tabletBreakpoint: 1023px;

// Sizes
$pageMaxWidth: 161.4em;
$pageMargin: 1em 2em;

// Colors
$black: #222229;
$primary: #ededed;
$secondary: #ffffff;
$error: #ff5252;

// Colors
$lato: 'Lato', sans-serif;
$gruppo: 'Gruppo', sans-serif;

// Blocks
$blockShadow: 0 0 6em rgba(51, 15, 13, 0.25);

// Mixins
@import './mixins/responsive.scss';

// Export
:export {
  mobileBreakpoint: $mobileBreakpoint;
  tabletBreakpoint: $tabletBreakpoint;
  pageMaxWidth: $pageMaxWidth;
}
