@import '~config/index.module.scss';

.container {
  margin-left: 5em;
  .inputContainer {
    position: relative;
    label {
      font-size: 4em;
    }

    .numberInputContainer {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      margin-top: 2em;
      margin-bottom: 6em;

      .numberContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3em;

        p {
          font-size: 5em;
          font-weight: 200;
        }

        svg {
          margin-top: 1em;
          margin-left: 1.5em;

          circle {
            fill: transparent;
            stroke: $primary;
            stroke-width: 1px;
            transition: 0.3s;
          }

          .circleError {
            fill: $error;
            stroke: $error;
          }

          .circleComplete {
            fill: $primary;
          }
        }
      }

      input,
      textarea {
        position: relative;
        color: $primary;
        font-family: $lato;
        font-size: 3.5em;
        font-weight: 300;
        background: transparent;
        border: none;
        border-bottom: solid 1px $primary;
        outline: none;
        padding: 5px 30px 20px;
        width: 17em;

        transition: 0.3s;

        &::before {
          content: '';
          position: absolute;
          width: 2000px;
          height: 3px;
          right: 0px;
          bottom: 0px;
          background-color: red;
        }

        &:-webkit-autofill,
        :-webkit-autofill:focus {
          transition: background-color 600000s 0s, color 600000s 0s;
        }
      }

      textarea {
        height: 10em;
      }
    }

    .error {
      position: absolute;
      font-family: $lato;
      font-weight: 300;
      font-size: 2em;
      bottom: -2.5em;
      color: $error;
    }
  }
}
