@import '~config/index.module.scss';

.section {
  margin-left: 15em;
  margin-top: 5em;
  margin-bottom: 5em;

  .containerText {
    h4 {
      font-size: 8em;
    }
    &:nth-child(2) {
      margin-bottom: 0.8em;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
  }
}
