@import '~config/index.module.scss';

.transition {
  position: absolute;
  background: $black;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
