@import 'config/reset.css';
@import 'config/index.module.scss';

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background: $black;
  color: $primary;

  overflow-x: hidden;
  min-height: 100vh;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 700;
}
